**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/tfplan
**/*.pem
**/.env
**/credentials
**/__pycache__/
**/*.pyc
**/evidencias-finais-wordcount-*/s3/logs/
**/evidencias-finais-wordcount-*.zip
**/.cluster_id
**/build/.deps/
**/evidencias-finais-wordcount.zip
**/evidencias-finais-wordcount/01-identidade-aws.json
