
# Credenciais temporßrias do AWS Academy
**/aws_credentials_lab/credentials
**/aws_credentials_lab/labsuser.pem
**/*.pem
**/aws_credentials_lab/
**/.aws/
**/credentials
**/.env
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/.meltano/
**/.venv/
**/__pycache__/
**/*.pyc
**/*.tfstate
**/*.tfstate.*
**/tfplan
**/evidencias-finais-wordcount-*/s3/logs/
**/evidencias-finais-wordcount-*.zip
**/.cluster_id
**/build/.deps/
**/evidencias-finais-wordcount.zip
**/evidencias-finais-wordcount/01-identidade-aws.json
