# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log

# Variaveis locais e arquivos sensiveis
terraform.tfvars
*.auto.tfvars
.secrets/
aws_credenciais/
credentials
labsuser.pem
*.pem

# Arquivos temporarios
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/